<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	indexPageName="mednight.html"
	showAutoPlayButton="true"
	displayTime="3"
	galleryWidth="100%"
	galleryHeight="100%"
	showNavButtons="true"
	showInfoButton="false"

>
  <image imageURL="images/1011_醫學系系聯歡之夜1.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜1.jpg"
	linkURL="images/1011_醫學系系聯歡之夜1.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜2.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜2.jpg"
	linkURL="images/1011_醫學系系聯歡之夜2.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜簡介]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0001.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0001.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0001.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0002.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0002.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0002.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0003.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0003.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0003.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0004.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0004.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0004.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0005.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0005.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0005.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0006.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0006.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0006.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0007.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0007.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0007.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0008.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0008.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0008.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0009.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0009.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0009.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0010.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0010.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0010.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0011.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0011.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0011.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0012.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0012.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0012.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0013.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0013.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0013.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0014.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0014.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0014.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0015.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0015.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0015.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0016.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0016.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0016.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0017.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0017.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0017.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0018.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0018.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0018.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0019.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0019.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0019.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0020.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0020.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0020.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0021.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0021.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0021.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0022.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0022.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0022.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0023.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0023.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0023.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0024.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0024.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0024.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0025.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0025.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0025.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0026.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0026.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0026.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0027.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0027.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0027.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0028.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0028.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0028.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0029.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0029.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0029.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0030.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0030.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0030.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0031.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0031.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0031.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0032.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0032.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0032.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0033.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0033.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0033.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0034.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0034.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0034.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0035.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0035.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0035.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0036.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0036.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0036.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0037.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0037.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0037.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0038.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0038.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0038.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0039.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0039.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0039.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0040.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0040.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0040.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0041.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0041.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0041.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0042.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0042.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0042.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0043.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0043.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0043.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0044.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0044.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0044.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0045.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0045.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0045.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0046.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0046.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0046.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0046]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0047.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0047.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0047.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0048.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0048.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0048.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0048]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0049.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0049.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0049.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0049]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0050.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0050.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0050.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0051.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0051.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0051.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0052.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0052.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0052.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0053.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0053.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0053.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0054.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0054.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0054.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0055.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0055.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0055.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0056.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0056.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0056.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0057.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0057.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0057.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0058.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0058.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0058.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0059.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0059.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0059.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0060.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0060.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0060.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0061.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0061.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0061.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0062.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0062.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0062.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0062]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0063.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0063.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0063.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0064.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0064.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0064.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0064]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0065.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0065.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0065.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0065]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0066.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0066.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0066.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0067.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0067.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0067.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0068.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0068.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0068.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0068]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0069.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0069.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0069.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0070.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0070.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0070.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0070]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0071.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0071.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0071.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0072.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0072.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0072.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0073.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0073.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0073.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0074.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0074.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0074.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0075.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0075.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0075.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0076.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0076.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0076.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0076]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0077.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0077.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0077.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0078.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0078.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0078.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0078]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0079.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0079.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0079.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0079]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0080.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0080.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0080.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0080]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0081.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0081.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0081.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0082.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0082.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0082.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0082]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1011_醫學系系聯歡之夜_0083.jpg"
	thumbURL="thumbs/1011_醫學系系聯歡之夜_0083.jpg"
	linkURL="images/1011_醫學系系聯歡之夜_0083.jpg"
	linkTarget="_blank">
    <title><![CDATA[1011_醫學系系聯歡之夜_0083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>