<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	indexPageName="se.html"

>
  <image imageURL="images/1022_美國醫師分享會.JPG"
	thumbURL="thumbs/1022_美國醫師分享會.JPG"
	linkURL="images/1022_美國醫師分享會.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0001.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0001.JPG"
	linkURL="images/1022_美國醫師分享會_0001.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0002.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0002.JPG"
	linkURL="images/1022_美國醫師分享會_0002.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0003.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0003.JPG"
	linkURL="images/1022_美國醫師分享會_0003.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0004.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0004.JPG"
	linkURL="images/1022_美國醫師分享會_0004.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0005.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0005.JPG"
	linkURL="images/1022_美國醫師分享會_0005.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0006.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0006.JPG"
	linkURL="images/1022_美國醫師分享會_0006.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0007.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0007.JPG"
	linkURL="images/1022_美國醫師分享會_0007.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0008.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0008.JPG"
	linkURL="images/1022_美國醫師分享會_0008.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0009.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0009.JPG"
	linkURL="images/1022_美國醫師分享會_0009.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1022_美國醫師分享會_0010.JPG"
	thumbURL="thumbs/1022_美國醫師分享會_0010.JPG"
	linkURL="images/1022_美國醫師分享會_0010.JPG"
	linkTarget="_blank">
    <title><![CDATA[1022_美國醫師分享會_0010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>