<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"

>
  <image imageURL="images/gold (1).JPG"
	thumbURL="thumbs/gold (1).JPG"
	linkURL="images/gold (1).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (2).JPG"
	thumbURL="thumbs/gold (2).JPG"
	linkURL="images/gold (2).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (3).JPG"
	thumbURL="thumbs/gold (3).JPG"
	linkURL="images/gold (3).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (3)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (4).JPG"
	thumbURL="thumbs/gold (4).JPG"
	linkURL="images/gold (4).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (4)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (5).JPG"
	thumbURL="thumbs/gold (5).JPG"
	linkURL="images/gold (5).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (5)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (6).JPG"
	thumbURL="thumbs/gold (6).JPG"
	linkURL="images/gold (6).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (6)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (7).JPG"
	thumbURL="thumbs/gold (7).JPG"
	linkURL="images/gold (7).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (7)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (8).JPG"
	thumbURL="thumbs/gold (8).JPG"
	linkURL="images/gold (8).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (8)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (9).JPG"
	thumbURL="thumbs/gold (9).JPG"
	linkURL="images/gold (9).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (9)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (10).JPG"
	thumbURL="thumbs/gold (10).JPG"
	linkURL="images/gold (10).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (10)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (11).JPG"
	thumbURL="thumbs/gold (11).JPG"
	linkURL="images/gold (11).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (11)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (12).JPG"
	thumbURL="thumbs/gold (12).JPG"
	linkURL="images/gold (12).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (12)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (13).JPG"
	thumbURL="thumbs/gold (13).JPG"
	linkURL="images/gold (13).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (13)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (14).JPG"
	thumbURL="thumbs/gold (14).JPG"
	linkURL="images/gold (14).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (14)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (15).JPG"
	thumbURL="thumbs/gold (15).JPG"
	linkURL="images/gold (15).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (15)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (16).JPG"
	thumbURL="thumbs/gold (16).JPG"
	linkURL="images/gold (16).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (16)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (17).JPG"
	thumbURL="thumbs/gold (17).JPG"
	linkURL="images/gold (17).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (17)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (18).JPG"
	thumbURL="thumbs/gold (18).JPG"
	linkURL="images/gold (18).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (18)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (19).JPG"
	thumbURL="thumbs/gold (19).JPG"
	linkURL="images/gold (19).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (19)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (20).JPG"
	thumbURL="thumbs/gold (20).JPG"
	linkURL="images/gold (20).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (20)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (21).JPG"
	thumbURL="thumbs/gold (21).JPG"
	linkURL="images/gold (21).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (21)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (22).JPG"
	thumbURL="thumbs/gold (22).JPG"
	linkURL="images/gold (22).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (22)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (23).JPG"
	thumbURL="thumbs/gold (23).JPG"
	linkURL="images/gold (23).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (23)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (24).JPG"
	thumbURL="thumbs/gold (24).JPG"
	linkURL="images/gold (24).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (24)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (25).JPG"
	thumbURL="thumbs/gold (25).JPG"
	linkURL="images/gold (25).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (25)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (26).JPG"
	thumbURL="thumbs/gold (26).JPG"
	linkURL="images/gold (26).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (26)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (27).JPG"
	thumbURL="thumbs/gold (27).JPG"
	linkURL="images/gold (27).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (27)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gold (28).JPG"
	thumbURL="thumbs/gold (28).JPG"
	linkURL="images/gold (28).JPG"
	linkTarget="_blank">
    <title><![CDATA[gold (28)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>