<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="960"
	maxImageHeight="720"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	showThumbsButton="true"
	indexPageName="volleyball.html"
	showExpandButton="true"
	showLargeThumbs="false"

>
  <image imageURL="images/volleyball (1).JPG"
	thumbURL="thumbs/volleyball (1).JPG"
	linkURL="images/volleyball (1).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (1)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/volleyball (2).JPG"
	thumbURL="thumbs/volleyball (2).JPG"
	linkURL="images/volleyball (2).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/volleyball (3).JPG"
	thumbURL="thumbs/volleyball (3).JPG"
	linkURL="images/volleyball (3).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (3)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/volleyball (4).JPG"
	thumbURL="thumbs/volleyball (4).JPG"
	linkURL="images/volleyball (4).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (4)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/volleyball (5).JPG"
	thumbURL="thumbs/volleyball (5).JPG"
	linkURL="images/volleyball (5).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (5)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/volleyball (6).JPG"
	thumbURL="thumbs/volleyball (6).JPG"
	linkURL="images/volleyball (6).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (6)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/volleyball (7).JPG"
	thumbURL="thumbs/volleyball (7).JPG"
	linkURL="images/volleyball (7).JPG"
	linkTarget="_blank">
    <title><![CDATA[volleyball (7)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>