<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	indexPageName="tk.html"

>
  <image imageURL="images/1012_系友回娘家.JPG"
	thumbURL="thumbs/1012_系友回娘家.JPG"
	linkURL="images/1012_系友回娘家.JPG"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0001.JPG"
	thumbURL="thumbs/1012_系友回娘家_0001.JPG"
	linkURL="images/1012_系友回娘家_0001.JPG"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0002.JPG"
	thumbURL="thumbs/1012_系友回娘家_0002.JPG"
	linkURL="images/1012_系友回娘家_0002.JPG"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0003.jpg"
	thumbURL="thumbs/1012_系友回娘家_0003.jpg"
	linkURL="images/1012_系友回娘家_0003.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0004.jpg"
	thumbURL="thumbs/1012_系友回娘家_0004.jpg"
	linkURL="images/1012_系友回娘家_0004.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0005.jpg"
	thumbURL="thumbs/1012_系友回娘家_0005.jpg"
	linkURL="images/1012_系友回娘家_0005.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0006.jpg"
	thumbURL="thumbs/1012_系友回娘家_0006.jpg"
	linkURL="images/1012_系友回娘家_0006.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0007.jpg"
	thumbURL="thumbs/1012_系友回娘家_0007.jpg"
	linkURL="images/1012_系友回娘家_0007.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0008.jpg"
	thumbURL="thumbs/1012_系友回娘家_0008.jpg"
	linkURL="images/1012_系友回娘家_0008.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0009.jpg"
	thumbURL="thumbs/1012_系友回娘家_0009.jpg"
	linkURL="images/1012_系友回娘家_0009.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0010.jpg"
	thumbURL="thumbs/1012_系友回娘家_0010.jpg"
	linkURL="images/1012_系友回娘家_0010.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0011.jpg"
	thumbURL="thumbs/1012_系友回娘家_0011.jpg"
	linkURL="images/1012_系友回娘家_0011.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0012.jpg"
	thumbURL="thumbs/1012_系友回娘家_0012.jpg"
	linkURL="images/1012_系友回娘家_0012.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0013.jpg"
	thumbURL="thumbs/1012_系友回娘家_0013.jpg"
	linkURL="images/1012_系友回娘家_0013.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0014.jpg"
	thumbURL="thumbs/1012_系友回娘家_0014.jpg"
	linkURL="images/1012_系友回娘家_0014.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0015.jpg"
	thumbURL="thumbs/1012_系友回娘家_0015.jpg"
	linkURL="images/1012_系友回娘家_0015.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0016.jpg"
	thumbURL="thumbs/1012_系友回娘家_0016.jpg"
	linkURL="images/1012_系友回娘家_0016.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_系友回娘家_0017.jpg"
	thumbURL="thumbs/1012_系友回娘家_0017.jpg"
	linkURL="images/1012_系友回娘家_0017.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_系友回娘家_0017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>