<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	indexPageName="rm.html"

>
  <image imageURL="images/1012_感恩追思音樂會.JPG"
	thumbURL="thumbs/1012_感恩追思音樂會.JPG"
	linkURL="images/1012_感恩追思音樂會.JPG"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0001.JPG"
	thumbURL="thumbs/1012_感恩追思音樂會_0001.JPG"
	linkURL="images/1012_感恩追思音樂會_0001.JPG"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0002.JPG"
	thumbURL="thumbs/1012_感恩追思音樂會_0002.JPG"
	linkURL="images/1012_感恩追思音樂會_0002.JPG"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0003.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0003.jpg"
	linkURL="images/1012_感恩追思音樂會_0003.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0004.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0004.jpg"
	linkURL="images/1012_感恩追思音樂會_0004.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0004]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0005.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0005.jpg"
	linkURL="images/1012_感恩追思音樂會_0005.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0005]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0006.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0006.jpg"
	linkURL="images/1012_感恩追思音樂會_0006.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0006]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0007.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0007.jpg"
	linkURL="images/1012_感恩追思音樂會_0007.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0007]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0008.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0008.jpg"
	linkURL="images/1012_感恩追思音樂會_0008.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0008]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0009.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0009.jpg"
	linkURL="images/1012_感恩追思音樂會_0009.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0009]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0010.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0010.jpg"
	linkURL="images/1012_感恩追思音樂會_0010.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0011.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0011.jpg"
	linkURL="images/1012_感恩追思音樂會_0011.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0012.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0012.jpg"
	linkURL="images/1012_感恩追思音樂會_0012.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0012]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0013.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0013.jpg"
	linkURL="images/1012_感恩追思音樂會_0013.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0013]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0014.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0014.jpg"
	linkURL="images/1012_感恩追思音樂會_0014.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0015.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0015.jpg"
	linkURL="images/1012_感恩追思音樂會_0015.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0016.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0016.jpg"
	linkURL="images/1012_感恩追思音樂會_0016.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0017.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0017.jpg"
	linkURL="images/1012_感恩追思音樂會_0017.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0018.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0018.jpg"
	linkURL="images/1012_感恩追思音樂會_0018.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0018]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0019.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0019.jpg"
	linkURL="images/1012_感恩追思音樂會_0019.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0020.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0020.jpg"
	linkURL="images/1012_感恩追思音樂會_0020.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0021.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0021.jpg"
	linkURL="images/1012_感恩追思音樂會_0021.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0021]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0022.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0022.jpg"
	linkURL="images/1012_感恩追思音樂會_0022.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0022]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0023.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0023.jpg"
	linkURL="images/1012_感恩追思音樂會_0023.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0024.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0024.jpg"
	linkURL="images/1012_感恩追思音樂會_0024.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0025.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0025.jpg"
	linkURL="images/1012_感恩追思音樂會_0025.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0026.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0026.jpg"
	linkURL="images/1012_感恩追思音樂會_0026.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0026]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0027.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0027.jpg"
	linkURL="images/1012_感恩追思音樂會_0027.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0027]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0028.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0028.jpg"
	linkURL="images/1012_感恩追思音樂會_0028.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0029.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0029.jpg"
	linkURL="images/1012_感恩追思音樂會_0029.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0029]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0030.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0030.jpg"
	linkURL="images/1012_感恩追思音樂會_0030.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0030]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0031.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0031.jpg"
	linkURL="images/1012_感恩追思音樂會_0031.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0031]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0032.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0032.jpg"
	linkURL="images/1012_感恩追思音樂會_0032.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0032]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0033.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0033.jpg"
	linkURL="images/1012_感恩追思音樂會_0033.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0034.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0034.jpg"
	linkURL="images/1012_感恩追思音樂會_0034.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0034]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0035.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0035.jpg"
	linkURL="images/1012_感恩追思音樂會_0035.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0035]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0036.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0036.jpg"
	linkURL="images/1012_感恩追思音樂會_0036.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0036]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0037.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0037.jpg"
	linkURL="images/1012_感恩追思音樂會_0037.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0037]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0038.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0038.jpg"
	linkURL="images/1012_感恩追思音樂會_0038.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0039.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0039.jpg"
	linkURL="images/1012_感恩追思音樂會_0039.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0039]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0040.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0040.jpg"
	linkURL="images/1012_感恩追思音樂會_0040.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0040]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0041.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0041.jpg"
	linkURL="images/1012_感恩追思音樂會_0041.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0042.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0042.jpg"
	linkURL="images/1012_感恩追思音樂會_0042.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0042]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0043.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0043.jpg"
	linkURL="images/1012_感恩追思音樂會_0043.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0044.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0044.jpg"
	linkURL="images/1012_感恩追思音樂會_0044.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0045.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0045.jpg"
	linkURL="images/1012_感恩追思音樂會_0045.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0046.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0046.jpg"
	linkURL="images/1012_感恩追思音樂會_0046.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0046]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0047.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0047.jpg"
	linkURL="images/1012_感恩追思音樂會_0047.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0048.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0048.jpg"
	linkURL="images/1012_感恩追思音樂會_0048.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0048]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0049.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0049.jpg"
	linkURL="images/1012_感恩追思音樂會_0049.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0049]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0050.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0050.jpg"
	linkURL="images/1012_感恩追思音樂會_0050.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0050]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0051.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0051.jpg"
	linkURL="images/1012_感恩追思音樂會_0051.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0052.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0052.jpg"
	linkURL="images/1012_感恩追思音樂會_0052.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0053.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0053.jpg"
	linkURL="images/1012_感恩追思音樂會_0053.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0054.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0054.jpg"
	linkURL="images/1012_感恩追思音樂會_0054.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0055.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0055.jpg"
	linkURL="images/1012_感恩追思音樂會_0055.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0056.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0056.jpg"
	linkURL="images/1012_感恩追思音樂會_0056.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0056]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0057.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0057.jpg"
	linkURL="images/1012_感恩追思音樂會_0057.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0057]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0058.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0058.jpg"
	linkURL="images/1012_感恩追思音樂會_0058.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0059.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0059.jpg"
	linkURL="images/1012_感恩追思音樂會_0059.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0060.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0060.jpg"
	linkURL="images/1012_感恩追思音樂會_0060.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0061.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0061.jpg"
	linkURL="images/1012_感恩追思音樂會_0061.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0061]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0062.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0062.jpg"
	linkURL="images/1012_感恩追思音樂會_0062.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0062]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0063.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0063.jpg"
	linkURL="images/1012_感恩追思音樂會_0063.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0064.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0064.jpg"
	linkURL="images/1012_感恩追思音樂會_0064.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0064]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0065.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0065.jpg"
	linkURL="images/1012_感恩追思音樂會_0065.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0065]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0066.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0066.jpg"
	linkURL="images/1012_感恩追思音樂會_0066.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0067.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0067.jpg"
	linkURL="images/1012_感恩追思音樂會_0067.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0068.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0068.jpg"
	linkURL="images/1012_感恩追思音樂會_0068.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0068]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0069.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0069.jpg"
	linkURL="images/1012_感恩追思音樂會_0069.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0070.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0070.jpg"
	linkURL="images/1012_感恩追思音樂會_0070.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0070]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0071.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0071.jpg"
	linkURL="images/1012_感恩追思音樂會_0071.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0072.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0072.jpg"
	linkURL="images/1012_感恩追思音樂會_0072.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0073.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0073.jpg"
	linkURL="images/1012_感恩追思音樂會_0073.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0074.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0074.jpg"
	linkURL="images/1012_感恩追思音樂會_0074.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0075.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0075.jpg"
	linkURL="images/1012_感恩追思音樂會_0075.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0075]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0076.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0076.jpg"
	linkURL="images/1012_感恩追思音樂會_0076.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0076]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0077.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0077.jpg"
	linkURL="images/1012_感恩追思音樂會_0077.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0078.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0078.jpg"
	linkURL="images/1012_感恩追思音樂會_0078.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0078]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0079.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0079.jpg"
	linkURL="images/1012_感恩追思音樂會_0079.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0079]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0080.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0080.jpg"
	linkURL="images/1012_感恩追思音樂會_0080.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0080]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0081.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0081.jpg"
	linkURL="images/1012_感恩追思音樂會_0081.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0082.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0082.jpg"
	linkURL="images/1012_感恩追思音樂會_0082.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0082]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0083.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0083.jpg"
	linkURL="images/1012_感恩追思音樂會_0083.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0083]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0084.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0084.jpg"
	linkURL="images/1012_感恩追思音樂會_0084.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0085.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0085.jpg"
	linkURL="images/1012_感恩追思音樂會_0085.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0085]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0086.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0086.jpg"
	linkURL="images/1012_感恩追思音樂會_0086.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0086]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0087.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0087.jpg"
	linkURL="images/1012_感恩追思音樂會_0087.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0087]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0088.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0088.jpg"
	linkURL="images/1012_感恩追思音樂會_0088.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0089.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0089.jpg"
	linkURL="images/1012_感恩追思音樂會_0089.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0089]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0090.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0090.jpg"
	linkURL="images/1012_感恩追思音樂會_0090.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0090]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0091.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0091.jpg"
	linkURL="images/1012_感恩追思音樂會_0091.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0091]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0092.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0092.jpg"
	linkURL="images/1012_感恩追思音樂會_0092.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0092]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0093.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0093.jpg"
	linkURL="images/1012_感恩追思音樂會_0093.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0093]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0094.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0094.jpg"
	linkURL="images/1012_感恩追思音樂會_0094.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0094]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0095.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0095.jpg"
	linkURL="images/1012_感恩追思音樂會_0095.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0095]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0096.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0096.jpg"
	linkURL="images/1012_感恩追思音樂會_0096.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0096]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0097.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0097.jpg"
	linkURL="images/1012_感恩追思音樂會_0097.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0098.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0098.jpg"
	linkURL="images/1012_感恩追思音樂會_0098.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0098]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0099.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0099.jpg"
	linkURL="images/1012_感恩追思音樂會_0099.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0099]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0100.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0100.jpg"
	linkURL="images/1012_感恩追思音樂會_0100.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0101.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0101.jpg"
	linkURL="images/1012_感恩追思音樂會_0101.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0102.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0102.jpg"
	linkURL="images/1012_感恩追思音樂會_0102.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0103.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0103.jpg"
	linkURL="images/1012_感恩追思音樂會_0103.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0103]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0104.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0104.jpg"
	linkURL="images/1012_感恩追思音樂會_0104.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0105.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0105.jpg"
	linkURL="images/1012_感恩追思音樂會_0105.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0105]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0106.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0106.jpg"
	linkURL="images/1012_感恩追思音樂會_0106.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0107.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0107.jpg"
	linkURL="images/1012_感恩追思音樂會_0107.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0108.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0108.jpg"
	linkURL="images/1012_感恩追思音樂會_0108.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0108]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0109.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0109.jpg"
	linkURL="images/1012_感恩追思音樂會_0109.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0110.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0110.jpg"
	linkURL="images/1012_感恩追思音樂會_0110.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0111.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0111.jpg"
	linkURL="images/1012_感恩追思音樂會_0111.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0112.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0112.jpg"
	linkURL="images/1012_感恩追思音樂會_0112.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0113.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0113.jpg"
	linkURL="images/1012_感恩追思音樂會_0113.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0114.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0114.jpg"
	linkURL="images/1012_感恩追思音樂會_0114.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0114]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0115.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0115.jpg"
	linkURL="images/1012_感恩追思音樂會_0115.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0115]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0116.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0116.jpg"
	linkURL="images/1012_感恩追思音樂會_0116.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0116]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0117.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0117.jpg"
	linkURL="images/1012_感恩追思音樂會_0117.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0117]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0118.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0118.jpg"
	linkURL="images/1012_感恩追思音樂會_0118.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0119.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0119.jpg"
	linkURL="images/1012_感恩追思音樂會_0119.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0120.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0120.jpg"
	linkURL="images/1012_感恩追思音樂會_0120.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0120]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0121.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0121.jpg"
	linkURL="images/1012_感恩追思音樂會_0121.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0121]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0122.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0122.jpg"
	linkURL="images/1012_感恩追思音樂會_0122.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0122]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0123.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0123.jpg"
	linkURL="images/1012_感恩追思音樂會_0123.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0123]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0124.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0124.jpg"
	linkURL="images/1012_感恩追思音樂會_0124.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0124]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0125.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0125.jpg"
	linkURL="images/1012_感恩追思音樂會_0125.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0126.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0126.jpg"
	linkURL="images/1012_感恩追思音樂會_0126.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0127.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0127.jpg"
	linkURL="images/1012_感恩追思音樂會_0127.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0127]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0128.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0128.jpg"
	linkURL="images/1012_感恩追思音樂會_0128.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0128]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0129.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0129.jpg"
	linkURL="images/1012_感恩追思音樂會_0129.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0129]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0130.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0130.jpg"
	linkURL="images/1012_感恩追思音樂會_0130.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1012_感恩追思音樂會_0131.jpg"
	thumbURL="thumbs/1012_感恩追思音樂會_0131.jpg"
	linkURL="images/1012_感恩追思音樂會_0131.jpg"
	linkTarget="_blank">
    <title><![CDATA[1012_感恩追思音樂會_0131]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>